<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="main">
        <div id="ram">
            <h1>This is my Register page </h1>
            <h2>Register here</h2>
            <form action="/register" method="post">
            User Name: <input type="text" name="uname"> <br> <br><br>
            Password: <input type="password" name="pass"><br> <br><br>
            <button type="submit">Register</button>
            <button><a href="/login">go to login page</a></button>
            </form>
        </div>
    </div>
 
    
</body>
</html>